

.top-ten circle {
  fill: #E82C0C;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.top-ten circle :hover {
  stroke: #000;
}

.top-ten .label {
  fill: #333;
  font: 14px sans-serif;
  text-anchor: left;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
